<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            width: 100%;
            margin:10px;
        }
        ul {
            display: flex;
            flex-direction: column;
        }
        header {
            background-color:blue;
            color:white;
        }
        th {
            font-size: 15px;
           
           background-color:blue;
           color:white;
           text-align: center;
           
        }
        tr {
            background-color: gainsboro;
        }
        li {
            list-style: none;
            display: flex;
          
        }
        .SiteInfo {
            margin:0;
            background-color: blue;
            color:white;
        }
        .listBullets {
            /* padding-right: 50%; */
        }
      .qrcode {
          position: absolute;
          right:0;
          top:0;
          width: 90px;
    }

      
      
     
    </style>
</head>
<body>
   
    <table class="siteheader">
        <img class="qrcode" src="<%= qrcodeImage %>" alt="QRCODE" />
        <tr>
            <td>
            Build / Repair Record</td>
            <td> </td>
        </tr>
        <tr>
            <td>
            Date: <%= time %></td>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <th class="SiteInfo">
                Site Info
            </th>
        </tr>
        <tr>
        <td>
           Site Name: <%= data.siteName %> 
        </td>
        <td>
           Site Address: <%= data.siteAddress %> 
        </td>
        <td>
           Site Contact #: <%= data.siteContactNumber %> 
        </td>
    </tr>
    </table>

    <table>
        <tr>
            <th>Equipment Source</th>
            <th>Make/Function</th>
            <th>Model</th>
            <th>Tag/Serial Number</th>
            <th>List of Source Files</th>
        </tr>
        <% data.hardware.forEach(function(user){ %>
          <td>
            <%= user.apps[0].appsName %>
            </td>
                <td>
                    <%= user.function %>
                </td>
                <td>
                    <%= user.MakeModel %>
                </td>
                <td>
                    <%= user.ServiceTagSerialNo %>
                </td>
                <td>
                    <%= user.sourceFile %>
                </td>    
            </tr>
            <% }); %>
    </table> 

    <% data.hardware.forEach(function(hw){ %>
    <h4 class="SiteInfo" ></h4>
    <table class="finalConfig">
       
            <h4 class="SiteInfo">Final
            Configuration
            Of
            <%= hw.type %>/<%= hw.MakeModel %></h4>
       
       <tr><td> Operating System:</td><td><%= hw.OS[0].OSname %> </td>
        <td>Additional Software: </td><td><%= hw.additionalSoftware %></td></tr> 

       <tr><td>Update Installed:</td><td><%= hw.OS[0].UpdateInstalled %></td>    
        <td>Extra H/W Installed:</td><td><%= hw.extraHardware %></td></tr>

        <tr> <td> Raid Level:</td><td><%= hw.RaidLevel %></td>
            <td> IP Address: </td><td><%= hw.network[0].IP %></td></tr>

        <tr> <td> Power Set to Never:</td><td> <%= hw.PowerSettoNever %></td>
            <td>Subnet Mask: </td><td> <%= hw.network[0].subnetMask %></td></tr>

        <tr><td> Update Truned Off:</td><td> <%= hw.UpdateTurnedOff %></td>
            <td>OS User Name:</td><td> <%= hw.OS[0].UserName %></td></tr>

        <tr><td></td><td></td> 
            <td> OS Password:</td><td> <%= hw.OS[0].password %></td></tr>
    </table>
    <% }); %>
</body>
</html>